.m-body {
	background: url("../images/common/headimg.jpg") repeat-y;
	width: 100%;
	overflow: hidden;
}
.nav  .dis {
	width: 1px;
	background: #FFA9CF;
	height: 12px;
	margin-top: 30px;
}
.body {
	margin: auto;
	width: 65%;
	border-radius: 20px;
	background: white;
	min-height: 400px;
	margin-top: 400px;
	position: relative;
	font-family: "Meiryo", sans-serif;
	font-size: 18px;
}

.body .title {
	position: absolute;
	width: 541px;
	height: 65px;
	background: url("../images/common/titBg.png") no-repeat;
	left: -280px;
	top: 20px;
}

.body .title h2 {
	line-height: 25px;
	color: white;
	padding-right: 140px;
	text-align: right;
}
.b-news {
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 80px;
}
.news-item {
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
.news-item h3 {
	font-size: 16px;
	height: 32px;
	width: 100%;
	text-align: center;
	background: #FF4A93;
}
.news-item h3 a {
	color: white;
	line-height: 32px;
}
.news-panel-01 {
	text-align: left;
	padding-bottom: 30px;
	border-bottom: solid 1px #CCCCCC;
	padding-top: 10px;
}
.news-content {
	text-align: center;
}
.n-title {
	text-align: left;
}
.n-pink .n-author {
	background: #FF4A93;
	padding: 5px 15px;
	border-radius: 4px;
}
.n-pink h3 {
	background: #FF4A93;
}

.n-red .n-author {
	background: #FF0000;
	padding: 5px 15px;
	border-radius: 4px;
}
.n-red h3 {
	background: #FF0000;
}
.n-black .n-author {
	background: #000000;
	padding: 5px 15px;
	border-radius: 4px;
	color: #FF0000;
}

.n-note {
	padding-left: 40px;
}
.pre-footer {
	margin-top: 30px;
	background: white;
	padding-bottom: 30px;
}
.pre-footer h2, .pre-footer-02 h2 {
	color: #999999;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #999999;
	text-align: center;
}
.pre-footer-body {
	margin-left: 40px;
	margin-right: 40px;
	text-align: left;
	margin: auto;
	width: 65%;
	border-radius: 20px;
	background: white;
	position: relative;
	font-family: "Meiryo", sans-serif;
	font-size: 14px;
}
.pre-footer-body-02 {
	margin-left: 40px;
	margin-right: 40px;
	text-align: left;
	margin: auto;
	width: 100%;
	border-radius: 20px;
	background: white;
	position: relative;
	font-family: "Meiryo", sans-serif;
	font-size: 16px;
}
.pre-footer-body img {
	width: 100%;
}
.pre-footer-body span {
	line-height: 32px;
}
.hd-info {
	padding-right: 100px;
}
.pre-footer-body .item {
	width: 100%;
	border-bottom: solid 1px #999999;
	padding-bottom: 5px;
	clear: both;
}
.pre-footer-body .item:last-child {
	border-bottom: none;
}
.pre-footer-body .item .col-4 {
	width: 30%;
	float: left;
	padding-top: 10px;
}
.pre-footer-body .item .col-6 {
	width: 70%;
	float: right;
	padding-top: 10px;
}
.bn-09 {
	padding-top: 30px;
}
.num-phone {
	font-size: 18px;
}

.pre-footer-02 {
	background: white;
	padding-bottom: 30px;
}

.w-pre-footer {
	background: white;
}

/* Responsive fixed */

/* Iphone 6 */
@media screen and (max-width: 375px) {
	.body {
		margin-top: 0px;
	}
	.body .title h2 {
		padding-right: 50px;
	}
	.m-body {
		background: none !important;
	}
	.body {
		width: 100% !important;
	}
	.b-news, .news-item {
		margin-left: 0px !important;
    	margin-right: 0px !important;
	}
	.n-note {
		display: block;
		padding-left: 0px !important;
		padding-top: 10px;
	}
	.pre-footer-body, .pre-footer-body-02 {
		width: 100% !important;
	}
	.pre-footer-body-02 img {
		width: 100% !important;
		padding-bottom: 20px;
	}
	.pre-footer-body .item, .pre-footer-body-02 .item {
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 340px) {
	.body {
		margin-top: 0px;
	}
	.body .title h2 {
		padding-right: 50px;
	}
	.m-body {
		background: none !important;
	}
	.body {
		width: 100% !important;
	}
	.b-news, .news-item {
		margin-left: 0px !important;
    	margin-right: 0px !important;
	}
	.n-note {
		display: block;
		padding-left: 0px !important;
		padding-top: 10px;
	}
	.pre-footer-body, .pre-footer-body-02 {
		width: 100% !important;
	}
	.pre-footer-body-02 img {
		width: 100% !important;
		padding-bottom: 20px;
	}
	.pre-footer-body .item, .pre-footer-body-02 .item {
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 420px) {
	.body {
		margin-top: 0px;
	}
	.body .title h2 {
		padding-right: 50px;
	}
	.m-body {
		background: none !important;
	}
	.body {
		width: 100% !important;
	}
	.b-news, .news-item {
		margin-left: 0px !important;
    	margin-right: 0px !important;
	}
	.n-note {
		display: block;
		padding-left: 0px !important;
		padding-top: 10px;
	}
	.pre-footer-body, .pre-footer-body-02 {
		width: 100% !important;
	}
	.pre-footer-body-02 img {
		width: 100% !important;
		padding-bottom: 20px;
	}
	.pre-footer-body .item, .pre-footer-body-02 .item {
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
/* end mobile style */
/* custom navbar */
.navbar {
    min-height: 60px;
}
.navbar-default {
    background-color: rgba(0, 0,0,0.8);
    border: 0 none;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a::before {
    content: '';
    padding-right: 20px;
}
.navbar-default .navbar-nav>li>a::after {
    content: '';
    border-right: 1px solid #fff;
    padding-left: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FFA9CF;
}
.navbar-brand {
    background-color: #FF4A93;
    padding: 5px;
    height: 60px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {   
    border: 0 none;
    border-radius: 0;
    border-left: 1px solid #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 1px;
    background-color: #FF4A93 !important;
    border-color: #FF4A93;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}
/* end custom navbar */