/* custom navbar */
.navbar {
    min-height: 60px;
}
.navbar-default {
    background-color: rgba(0, 0,0,0.8);
    border: 0 none;
    margin-top:-60px;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a::before {
    content: '';
    padding-right: 20px;
}
.navbar-default .navbar-nav>li>a::after {
    content: '';
    border-right: 1px solid #fff;
    padding-left: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FFA9CF;
}
.navbar-brand {
    background-color: #FF4A93;
    padding: 5px;
    height: 60px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: #FF4A93;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:transparent;
    border: 0 none;
    border-radius: 0;
    border-left: 1px solid #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 1px;
    background-color: #FF4A93 !important;
    border-color: #FF4A93;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}
/* end custom navbar */

#thumbnail-slider {
    max-width: 90% !important;
}


/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 50px;
  margin-top: 5px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  background-image: none;
  background: none;
  border-radius: 23px 23px 23px 23px;
  height: 100px;
  width : 40px;
  margin: auto;
  color: #FFA9CF;
  text-shadow: none;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  background-image: none;
  background: none;
  height: 100px;
  width : 40px;
  margin: auto;
  color: #FFA9CF;
  text-shadow: none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
}
.thumbnail {
    margin-bottom: 0;
}
.item-child {
    width: 50%;
    float: left;
    padding: 0 5px;
    position: relative;
    min-height: 1px;
}
@media (min-width: 992px)
{
    .item-child {
        width: 20%;
    }
}
@media (max-width: 768px)
{
    .item-child {
        width: 100%;
    }
}
.item-child .state{
    margin: 5px 0;
}
.item-child .cate{
    color: #000;
    margin: 5px 0;
}
.item-child .desc{
    color: #666;
    margin: 5px 0;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

#slider-text{
    padding-top: 40px;
    display: block;
  }
  #slider-text .col-md-6{
    overflow: hidden;
  }
  
  #slider-control img{
    padding-top: 60%;
    margin: 0 auto;
  }
  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
  }
  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -20%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 20%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
      left: 0;
    }
    .item.active.right .item-child, .item.next .item-child {
        opacity: 0;
    }
    .item.active.right .item-child:last-child, .item.next .item-child:last-child {
        opacity: 1;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  
/* End carousel */
.w-btn-pink {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.w-btn-pink .btn-border-pink{
    border: 2px solid #FF4A93;
    border-radius: none;
    padding: 5px 20px;
    font-size: 18px;
    background: white;
}
.bnn-mid {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bnn-mid a:first-child {
    margin-right: 25px;
}
.blog {
    background: #FFA9CF;
}
.blog h3 {
  text-align: center;
}
.bg-group {
    padding-left: 10px;
    padding-right: 10px;
}
.b-item {
    padding: 4px;
    width: 20%;
    float: left;
}
.b-content{
    padding: 4px;
}
.w-btn-white {
    clear: both;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.w-btn-white .btn-border-white{
    border: 2px solid white;
    border-radius: none;
    padding: 7px 60px;
    background: transparent;
}
.b-lastest {
    color: #000;
}
.g-s-info {
    margin-top: 30px;
}
.b-item .g-info {
    text-align: left;
    padding: 10px;
}
.g-avatar{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.g-info-detail {
    float: left;
}
.g-info-detail p{
 margin: 0;
}
.video {
    background: #FF4A93;
    text-align: center;
}

.w-btn-red {
    clear: both;
    padding-top: 15px;
    padding-bottom: 15px;
}
.w-btn-red .btn-border-red{
    border: 2px solid white;
    border-radius: none;
    padding: 7px 60px;
    background: transparent;
}

/* section recommended */
.recommended  {
    padding-top: 10px;
}
.recommended h3{
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 10px;
}
/* end section recommended */
/* section fee system */
.fee-system  {
    padding-top: 30px;
}
.fee-system h3{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}
/* end section fee system */
/* section news*/
.news  {
    padding-top: 15px;
}
.news h3{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}
.news-girl-info .news-label {
    padding: 5px 10px;
    background-color: #FF4A93;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}
.news-event .news-label {
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}
.news-cuppon .news-label {
    padding: 5px 10px;
    background-color: #000;
    color: red;
    border-radius: 5px;
    margin-right: 5px;
}
.news-girl-info .news-title>a {
    color: #FF4A93;
}
.news-event .news-title>a {
    color: red;
}
.news-cuppon .news-title>a {
    color: #000;
}
.news .news-img {
    width: 20%;
    float: left;
}
.news .news-info {
    width: 80%;
    float: left;
    padding: 0 20px 0 5px;
    font-size: 12px;
    min-height: 115px;
}
.news .news-info-full {
    width: 100%;
    padding: 0 20px 0 0;
    font-size: 12px;
}
.news-list .news-girl-info,
.news-list .news-event,
.news-list .news-cuppon {
    padding-top: 10px;
    padding-bottom: 10px;
}  
.news-list .news-girl-info hr,
.news-list .news-event hr,
.news-list .news-cuppon hr {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    border-color: #dfdfdf;
}
/* end section news */

/* section panels */
.jj-panel {
    padding: 15px;
    background-color: #fff;
}
    .jj-panel-pink {
        border: 5px solid #FF4A93;
    }
    .jj-panel-pink .jj-panel-title {
        background-color:  #FF4A93;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .jj-panel-pink .jj-panel-title-small {
        background-color:  #FF4A93;
        color: #fff;
        padding: 5px 10px;
        text-align: center;
    }
    .jj-panel-title h4 {
        margin: 0;
    }
    .jj-panel-success {
        border: 5px solid #22b573;
    }
    .jj-panel-success .jj-panel-title {
        background-color:  #22b573;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .jj-panel-info {
        border: 5px solid #29abe2;
    }
    .jj-panel-info .btn-border-info {
      background: white;
      color: #29abe2;
      border: 2px solid #29abe2;
      border-radius: none !important;
    }
    .jj-panel-info .btn-border-info:hover {
      background: #29abe2;
      color: white;
    }
    .jj-panel-info .jj-panel-title {
        background-color:  #29abe2;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .jj-panel-warning {
        border: 5px solid #f7931e;
    }
    .jj-panel-warning .jj-panel-title {
        background-color:  #f7931e;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .jj-panel-pink-light {
        border: 5px solid #ffaad0;
    }
    .jj-panel-orange-light {
        border: 5px solid #F7931E;
    }
    .jj-panel-bot {
        border: 5px solid #22B573;
    }
    .jj-panel-bot .stp{
        border: 5px solid #22B573;
        padding: 5px 10px;
        background: #FFFF00;
        color: #22B573;
        border-radius: 10px;
        width: 17%;
        font-size: 14px;
        font-weight: normal;
        float: left;
        margin: 0px;
    }
    .jj-panel-bot .stp-cnt {
      width: 82%;
      float: right;
      padding-left: 1em;
    }
    .jj-panel-pink-light .jj-panel-title{
        background-color:  #ffaad0;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .jj-panel-orange-light .jj-panel-title {
      background-color:  #F7931E;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    .jj-panel-bot .jj-panel-title {
      background-color:  #22B573;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    .jj-panel-orange-light .jj-panel-title .bg-white {
      padding: 3px 6px;
      background: white;
      color: #F7931E;
    }
/* end section panels */

.n-note {
	padding-left: 40px;
}
.pre-footer {
	margin-top: 30px;
	background: white;
	padding-bottom: 30px;
}
.pre-footer h2, .pre-footer-02 h2 {
	color: #999999;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #999999;
	text-align: center;
}
.pre-footer-body {
	margin-left: 40px;
	margin-right: 40px;
	text-align: left;
	margin: auto;
	width: 65%;
	border-radius: 20px;
	background: white;
	position: relative;
	font-family: "Meiryo", sans-serif;
	font-size: 14px;
}
.pre-footer-body-02 {
	margin-left: 40px;
	margin-right: 40px;
	text-align: left;
	margin: auto;
	width: 100%;
	border-radius: 20px;
	background: white;
	position: relative;
	font-family: "Meiryo", sans-serif;
	font-size: 16px;
}
.pre-footer-body img {
	width: 100%;
}
.pre-footer-body span {
	line-height: 32px;
}
.hd-info {
	padding-right: 100px;
}
.pre-footer-body .item {
	width: 100%;
	border-bottom: solid 1px #999999;
	padding-bottom: 5px;
	clear: both;
}
.pre-footer-body .item:last-child {
	border-bottom: none;
}
.pre-footer-body .item .col-4 {
	width: 30%;
	float: left;
	padding-top: 10px;
}
.pre-footer-body .item .col-6 {
	width: 70%;
	float: right;
	padding-top: 10px;
}
.bn-09 {
	padding-top: 30px;
}
.num-phone {
	font-size: 18px;
}

.pre-footer-02 {
	background: white;
	padding-bottom: 30px;
}

.w-pre-footer {
	background: white;
}

/* Responsive fixed */
@media screen and (max-width: 767px) {
	.navbar {
		position: absolute;
		width: 100%;
		top: 60px;
		z-index: 999;
	}
	.navbar .container-fluid .col-md-9 {
		padding: 0px !important;
	}
}
/* Iphone 6 */
@media screen and (max-width: 375px), all and (max-width: 340px), all and (max-width: 420px), all and (min-width: 412px) {
	.body .title h2 {
		padding-right: 50px;
	}
	.m-body {
		background: none !important;
	}
	.body {
		width: 100% !important;
	}
	.b-news, .news-item {
		margin-left: 0px !important;
    	margin-right: 0px !important;
	}
	.n-note {
		display: block;
		padding-left: 0px !important;
		padding-top: 10px;
	}
	.pre-footer-body, .pre-footer-body-02 {
		width: 100% !important;
	}
	.pre-footer-body-02 img {
		width: 100% !important;
		padding-bottom: 20px;
	}
	.pre-footer-body .item, .pre-footer-body-02 .item {
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
  .jj-panel-pink-light, .jj-panel-orange-light {
    margin-top: 2em;
  }
}